* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  scroll-behavior: smooth;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1abc9c;
  border-radius: 10px;
  scroll-behavior: smooth;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1abc9c;
}
